/* inicio do Navbar*/

* {
    margin: 0;
    padding: 0;
}



a {
    font-family: sans-serif;
    text-decoration: none;
}

.navbar {
    background: white;
    padding-inline: 16px;
    
}

.container-fluid {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
    width: 7rem;
    height: 4rem;
}

.icon {
    font-size: 48px;
    width: 30px;
    height: 30px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 15px;
}

/* Fim do Navbar */

/* Inicio da barra de pesquisa*/

.search-container {
    display: flex;
    border: 2px solid silver;
    border-radius: 25px;
    overflow: hidden;
    width: 300px;
}

.search-input {
    border: none;
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
    width: 250px;
    background-color: silver;
}

.search-button {
    background: #f1f1f1;
    background-color: silver;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: silver;

}



/* Inicio da barra roxa*/

.barra ul {
    list-style-type: none;
    background-color: #800080 ;
    overflow: hidden;
    margin: 0;
    
}

.barra a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 16px;
    display: block;
}

.barra li {
    float: left;
}

.barra a:hover {
    background-color: white;
    color: purple;
}

/* inicio da tabela*/

.card {
    display: block;
    float: left;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    margin: 5%;
    width: 200px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    
}

.card img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    gap: 4px;
    height: 50%;
  }


.card h1 {
    font-size: 1.2rem;
}
  
.card h2 {
    font-size: .9rem;
    color: black;
}
  
.card button {
    background-color: purple;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}
  
.card button:hover {
    background-color: purple;
    cursor: pointer;
}